<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><% app_setting.SITE_NAME %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <section id="hero">
        <img src="/images/avatar.jpg" alt="Your Avatar" id="avatar">
        <h1><% app_setting.SITE_NAME %></h1>
    </section>
<% content %>
    </body>
</html>
