<section id="activities">
    <% FOREACH activities %>
    <div class="activity-card">
        <a href="<% link %>"><img width="300" height="300" 
             src="/images/<% name %>.jpg" 
             alt="<% name %>"></a>
        <h2><% name %></h2>
        <p><% desc %> </p>
    </div>
    <% END %>
</section>
