body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Header Menu */
/* CSS for the mobile header */
#mobile-header {
    display: none;
    background-color: #2d2d2d;
    color: #ffffff;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Adjust z-index as needed */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    flex-direction: row; /* Default flex-direction */
}

#avatar-icon {
    display: inline-block;
    width: 30px; /* Adjust the size as needed */
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

#avatar-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* CSS for the menu toggle button */
#menu-toggle {
    background: none;
    border: none;
    color: #eee;
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
    flex: 1; /* Expand to fill available space */
    text-align: center; /* Center text horizontally */
}


/* Home Page Layout */

#hero {
    background-color: #2d2d2d;
    text-align: center;
    padding: 50px 0;
}

#avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

h1 {
    color: #ffffff;
    margin: 0;
}

#activities {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 40px 20px;
}

.activity-card {
    background-color: #ffffff;
    width: calc(33.33% - 20px); /* Basic 3-grid layout, you can adjust as needed */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    border-radius: 5px;
}

.activity-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.activity-card h2 {
    margin-top: 0;
}

/* Article Page */

section#article {
    margin: auto;
    min-width: 450px;
    max-width: 700px;
    background-color: #fff;
    padding: 20px;
    border-left: 2px solid #DDD;
    border-right: 2px solid #DDD;
    border-bottom: 2px solid #DDD;
}

.article-wrapper {
    width: 100%;
    max-width: 600px;
    margin: auto;
}

section#article h1, h2, h3, h4 {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

section#article h1 {
    color: #444;
    font-size: 42px;
    margin-bottom: 1em;
}

section#article {
    font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 18px;
}



    /* For mobile responsiveness */
@media screen and (max-width: 768px) {
    .activity-card {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 480px) {
    .activity-card {
        width: 100%;
    }
}

